<section class="section archive" [@archiveAnimation] *ngIf='state'>
    <div class="container">
        <div class="archive-title">
            <h1 class="big-title">projectos</h1>
            <p class="archive-subtitle big-subtitle">Una lista mas completa</p>
        </div>
        <div class="archive-table-container">
            <table class="archive__StyledTable-lXDeB haZMKe">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Title</th>
                        <th class="hide-on-mobile">Made at</th>
                        <th class="hide-on-mobile">Built with</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Sistem web Avicola</td>
                        <td class="project-company"><span>Monagas - VE</span></td>
                        <td class="project-skills">
                            <span>Laravel<span class="separator">·</span></span>
                            <span>Webpack</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="https://github.com/MSchere/Avicola"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="http://avicola.luzzidigital.fav/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Cenem</td>
                        <td class="project-company"><span>Monagas - VE</span></td>
                        <td class="project-skills">
                            <span>Wordpress<span class="separator">·</span></span>
                            <span>Divi</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="http://cenem.luzzidigital.fav/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">ClerckContable</td>
                        <td class="project-company"><span>Caracas - VE</span></td>
                        <td class="project-skills">
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="project-links">
                            
                            <span><a style='color: inherit' href="https://github.com/MSchere/Clerkcontable"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="https://clerckcontable.luzzidigital.fav"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Innerfire</td>
                        <td class="project-company"><span>Monagas - VE</span></td>
                        <td class="project-skills">
                            <span>Wordpress<span class="separator">·</span></span>
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="http://innerfire.luzzidigital.fav/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Inver</td>
                        <td class="project-company"><span>Monagas - VE</span></td>
                        <td class="project-skills">
                            <span>Wordpress<span class="separator">·</span></span>
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="https://github.com/MSchere/inver-content/"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="http://inver.luzzidigital.fav/"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Persimas</td>
                        <td class="project-company"><span>Caracas - VE</span></td>
                        <td class="project-skills">
                            <span>Bootstrap<span class="separator">·</span></span>
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="https://github.com/MSchere/Persimas"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="https://persimas.luzzidigital.fav"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Rodrigo</td>
                        <td class="project-company"><span>Caracas - VE</span></td>
                        <td class="project-skills">
                            <span>Bootstrap<span class="separator">·</span></span>
                            <span>HTML<span class="separator">·</span></span>
                            <span>CSS</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="https://github.com/MSchere/Rodrigo"><i class="ml-4 fab fa-github"></i></a></span>
                            <span><a style='color: inherit' href="https://rodrigo.luzzidigital.fav"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                    <tr data-sr-id="3">
                        <td class="project-date">2020</td>
                        <td class="project-title">Salud al Dia</td>
                        <td class="project-company"><span>Caracas - VE</span></td>
                        <td class="project-skills">
                            <span>Wordpress<span class="separator">·</span></span>
                            <span>Divi</span>
                        </td>
                        <td class="project-links">
                            <span><a style='color: inherit' href="https://saludaldia.luzzidigital.fav"><i class="ml-4 fas fa-external-link-alt"></i></a></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>