/* You can add global styles to this file, and also import other style files */

$Purple         : #250a46;
$LightPurple    : #2e0e53;
$LightestPurple : #370e5b;
$DarkPurple     : #280a5f;
$DarkestPurple  : #1c0545;
$Slate        : #8892b0;
$LightSlate   : #a8b2d1;
$LightestSlate: #ccd6f6;
$White        : #e6f1ff;
$Green        : #64ffda;
$GreenOpacity : rgba(100,255,218,0.07);

//old navy 2e0e53

$MainFont: Calibre,San Francisco,SF Pro Text,-apple-system,system-ui,BlinkMacSystemFont,Roboto,Helvetica Neue,Segoe UI,Arial,sans-serif;
$CodeFont: SF Mono, Fira Code, Fira Mono, Roboto Mono, Lucida Console, Monaco, Monospace;
